.pagin{
 display: flex;
 justify-content: center;
 margin-top: 50px;
 font-size: 25px;
}
.number{
   
    padding:0px 5px;
    cursor: pointer;
    text-decoration: none;
    color:royalblue;
}
.number:hover{
    color:red;
    text-decoration: underline;
}
.a1{
    text-decoration: none;
    color:black;
    padding-right: 10px;
}
.pagin ul li{
    list-style: none;
   
}
.pagin ul{
    display: flex;
}